body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial;
    text-align: center;
}

header {
    padding: 30px;
    position: relative;
}

#logo {
    width: 300px;
}

#btnLogin {
    position: absolute;
    right: 20px;
    top: 20px;
}

#btnFavoritos {
    position: absolute;
    right: 90px;
    top: 20px;
    cursor: pointer;
}

.buscador {
    margin: 20px;
}

input {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    padding: 10px;
    border-radius: 20px;
    background: gold;
    border: none;
    cursor: pointer;
}

#resultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pelicula {
    width: 180px;
    margin: 10px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.pelicula img {
    width: 100%;
}

.corazon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}

.modal-content {
    background: #222;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
}

.cerrar {
    float: right;
    cursor: pointer;
}